/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;;
}
.leader-board{
    margin: 0px 285px;
    background-color: white;
    width: 870px;
    height: 679px;
    padding: 20px;
    border-radius: 10px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player img{
    height: 56px;
    width: 56px;
}
.player{
    display: flex;
    align-items: center;
    padding: 20px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}
.top-player, .top-blogs{
    color: #562EFF;
    
}
hr{
    width: 807px;
    height: 0px;
    margin-top: 30px;
    border: 0.3px solid #D1D1D1;
}
/* blog part */
.blog img{
    Width : 177px;
    Height: 117px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 40px;
}
.blog{
    display: flex;
}
.blog-details{
    margin-left: 16px;
}
.blog-name{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}