/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leader-board{
    
    margin-left: 224px;
    background-color: white;
    width: 870px;
    height: 679px;
    padding: 20px;
    border-radius: 10px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player img{
    height: 56px;
    width: 56px;
}
.player{
    display: flex;
    align-items: center;
    padding: 20px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}
.top-player, .top-blogs, .latest-course{
    color: #562EFF;
    
}
hr{
    width: 807px;
    height: 0px;
    margin-top: 30px;
    border: 0.3px solid #D1D1D1;
}
/* blog part */
.blog img{
    Width : 177px;
    Height: 117px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    align-items: center;

}
.blog-details{
    margin-left: 16px;
}
.blog-name{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.author{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
.by{
    color: #9F9F9F;
}

/* courses part */
.courses{
    Width: 870px;
    Height: 362px;
    background-color: white;
    margin: 30px 224px;
    padding: 20px;
    border-radius: 10px;
}
.course-author{
    color: #ED6B4F;
    font-size: 14.69px;
}
.course-name{
    font-size: 
    20.03px;
}
.all-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 53.05px;
}
.course img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    justify-content: space-between;
}